[submodule "deps/sdsl-lite"]
	path = deps/sdsl-lite
	url = https://github.com/xxsds/sdsl-lite.git
[submodule "deps/seqio"]
	path = deps/seqio
	url = https://github.com/jnalanko/seqio.git
[submodule "deps/googletest"]
	path = deps/googletest
	url = https://github.com/google/googletest.git
[submodule "deps/rapidcheck"]
	path = deps/rapidcheck
	url = https://github.com/emil-e/rapidcheck.git
